
  * {
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    margin: 0;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Source Sans Pro', 'Arial';
    padding: 1em;
  }
  .container {
    max-width: 480px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: relative;
    background-color: #012121 !important;
  }
  .container .input {
    display: none;
  }
  .container .input:not(:checked) ~ .card .sign {
    left: 0;
    z-index: 1;
  }
  .container .input:not(:checked) ~ .card .log {
    left: 100%;
  }
  .container .input:checked ~ .toggle .icon .arrow {
    left: 50%;
    transform: rotateY(180deg);
  }
  .container .input:checked ~ .card .sign {
    left: -100%;
  }
  .container .input:checked ~ .card .log {
    left: 0;
    z-index: 1;
  }
  .container .toggle {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin: 1em 0;
  }
  .container .toggle .icon {
    width: 64px;
    height: 32px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 64px;
    outline: 2px solid white;
  }
  .container .toggle .icon .arrow {
    position: absolute;
    left: 0;
    
    border-radius: 50%;
    transition: all ease 0.75s;
  }
  .container .card {
    max-width: 480px;
    max-height: 360px;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 16px;
    padding: 0.5em;
    
    overflow: hidden;
  }
  .container .card .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    transition: all ease 1s;
  }
  .container .card .content .title {
    font-family: 'Poppins', 'Arial';
    font-weight: 100;
    font-size: 18px;
    color: #08F9FA;
}
  .container .card .content .fields {
    width: 100%;
    padding: 0 2em;
    margin-left: 65px;
    
  }
  .container .card .content .fields .field {
    display: flex;
    align-items: center;
    gap: 0.75em;
    margin: 0.5em 0;
    padding: 1em;
    border-radius: 32px;

    width: 350px;
    border: 1px solid #585858 !important;
  }
  .container .card .content .fields .field input {
    width: 100%;
    border: none;
    outline: none;
    color: white;
    background: transparent;
  }
  .container .card .content .submit {
    width: 100%;
    text-align: center;
    margin: 1em 0;
  }
  .container .card .content .submit .button-submit {
    cursor: pointer;
    width: 50%;
    border: none;
    outline: none;
    padding: 1em 1.5em;
    border-radius: 1.5em;
    box-shadow: 0 6px 12px -4px #ffffff40;
    transition: all ease 0.125s;
  }
  .container .card .content .submit .button-submit:hover {
    outline: 4px solid #ffffff40;
  }
  p{ 
    font-size: 14px;
    margin-top: 14px;
    text-align: center;
    color:#08F9FA;
  }
  .icon{
    color: white;
  }

 button:hover{
    background-color: #08F9FA;
    transition: 5s;
  }

  

 
  
  